apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-app-config
  namespace: ai-rhdh
  labels:
    rhdh.redhat.com/ext-config-sync: "true"
  annotations:
    rhdh.redhat.com/backstage-name: developer-hub
data:
  app-config.yaml: |
    app:
      title: AI RHDH
      baseUrl: https://backstage-developer-hub-ai-rhdh.{{ r_openshift_subdomain }}

    auth:
      environment: production
      providers:
        github:
          production:
            clientId: {{ github_client_id }}
            clientSecret: {{ github_client_secret }}

    backend:
      baseUrl: https://backstage-developer-hub-ai-rhdh.{{ r_openshift_subdomain }}
      cors:
        origin: https://backstage-developer-hub-ai-rhdh.{{ r_openshift_subdomain }}
      auth:
        externalAccess:
          - type: static
            options:
              token: jHYtxs7CavUaxoI+Rm+Ri6dZm8vf76vp
              subject: agents

    integrations:
      github:
        - host: github.com
          apps:
            - appId: {{ github_app_id }}
              clientId: {{ github_client_id }}
              clientSecret: {{ github_client_secret }}
              privateKey: |
{{ github_private_key | indent(16, first=True) }}
              webhookSecret: none

    catalog:
      rules:
        - allow: [Component, API, Location, Template, System, Domain, User, Group, Resource]
      providers:
        github:
          providerId:
            catalogPath: /catalog-info.yaml
            organization: {{ github_organization }}
            schedule:
              frequency: { minutes: 5 }
              initialDelay: { seconds: 15 }
              timeout: { minutes: 3 }
        githubOrg:
          githubUrl: 'https://github.com'
          id: production
          orgs:
            - {{ github_organization }}
          schedule:
            frequency: { minutes: 5 }
            initialDelay: { seconds: 15 }
            timeout: { minutes: 3 }
        modelCatalog:
          development:
            baseUrl: http://localhost:9090

