[all:vars]

# set this to false if the openshift-gitops operator is already installed
openshift_gitops_operator_install=true

# RHTAP uses a different ingresss cert name
openshift_ingress_secret_certs_secret=cert-manager-ingress-cert

# default model configuration to use for all services
default_llm_api_key=
default_llm_model_name=gpt-4o-mini
default_llm_base_url=https://api.openai.com/v1

# moderation
moderation_llm_api_key=
moderation_llm_model_name=omni-moderation-latest
moderation_llm_base_url=

# structured_output
structured_output_llm_api_key=
structured_output_llm_model_name=
structured_output_llm_base_url=

# router
router_llm_api_key=
router_llm_model_name=
router_llm_base_url=

# finance
finance_llm_api_key=
finance_llm_model_name=
finance_llm_base_url=

# support
support_llm_api_key=
support_llm_model_name=
support_llm_base_url=

support_embedding_api_key=
support_embedding_model_name=text-embedding-3-small
support_embedding_base_url=

# website
website_llm_api_key=
website_llm_model_name=
website_llm_base_url=

# document-embedding
document_embedding_model_name=text-embedding-3-small
document_embedding_api_key=
document_embedding_base_url=
